.button-to-chart {
  height: 65px;
  width: 175px;
  background: cyan;
  border: blue 1px dashed;
}

.button-text {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  color: black;
  font-size: 16px;
  font-style: oblique;
}
