.tick {
  opacity: 1;
}
.grid-line {
  stroke-opacity: 0.4;
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 3 7;
}
.axis-mark {
  stroke: #333;
  stroke-width: 1px;
}
.axis-title {
  text-anchor: "end";
  stroke: #333;
}
text {
  font: 14px Verdana;
  fill: #174b93;
}
.area {
  fill: url("#area-gradient");
  opacity: 35%;
}
.area-border {
  stroke: #3875a9;
  stroke-width: 1.5;
  fill: none;
}

.pointColor {
  fill: #ffeec1;
  stroke: #174b93;
  stroke-width: 1px;
}
.pointColor:hover {
  fill: #ff9500;
  cursor: pointer;
}
.pointColor:hover .tooltip {
  visibility: visible;
}
.pointColor .tooltip {
  visibility: hidden;
}
.tooltip .tooltip-rect {
  background: lightblue;
  border: solid gray;
  position: absolute;
  max-width: 8em;
  text-align: center;
}
.tooltip .tooltip-text {
  fill: red;
}

.axis-strict-line {
  stroke: green;
  stroke-width: 0.2;
}
